#form-container, #dice-container, #table-container, #qty-container {
    margin-top: 2em;
}

.navbar-brand {
    font-family: Poppins, sans-serif;
}

.navbar {
    background-color: rgb(0, 173, 20);
    color: white;
}

body {
    background-color: rgb(179, 232, 186);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-brand img {
    min-width: 100px;
    max-width: 10%;
}

.footer-brand img {
    min-width: 100px;
    max-width: 5%;
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
footer {
    background-color: rgb(0, 173, 20);
    margin-top: auto;

}

.img-fonte {
    min-width: 100px;
    max-width: 5%;
}

.voltar, .fonte {
    color: darkgreen;
}

.btn-success {
    margin-right: 10px;
}

.link-home-nav {
    text-decoration: none;
}